
.container{
    display: flex;

}

.tags{
   background:black;
   color: white;
   height: 20px;
   text-align: left;
}

.tags:hover{
        background:blue;
    }

@media (max-width: 768px){
    .container{
            flex-direction: column;
    }
    .tags{
        width: 100%;
    }
}

@media (min-width: 769px){
    .container{
                flex-direction: row;
    }
    .tags{
        width:10%
    }

}





